.containerLeft {
	margin: auto;
	width: 20%;
	height: 100%;
	padding: 20px;
	background-color: #eeeeee;
	margin-top:30px;
	float: left;
}

ul.lower_greek {
	list-style-type: none;
}

/*.level:before {
	content: "| "; 
	color: #4691f6; 
	font-size: 20px;
	font-weight: bold;
}*/

a {
	text-decoration: none;
}
.level {
    padding: 5px 2px;
	font-size:20px;
}

.level:visited {
    color: green;
}

/* mouse over link */
.level:hover {
    color: #707B7C;
}